In [8]:
import pandas as a

In [3]:
a.read_excel(r'C:\Users\TRISHA ROY\Desktop\dataset1.xlsx')

  name  claaasss batch
0    a         1   p-7
1    c         2   p-9
2    d         3  p -8

In [5]:
a.read_csv(r'C:\Users\TRISHA ROY\Desktop\dataset2.csv')

  name  claaasss batch
0    a         1   p-7
1    c         2   p-9
2    d         3  p -8
3    e         8   p-2

In [9]:
a.read_csv(r'C:\Users\TRISHA ROY\Desktop\dataset3.txt',sep='\t')

   name  class  batch
0  abie      2      9
1  huio      6      9
2   tia      2      4